Repository Re-4aliens/backend, pull requests merged in 2024-02, with the labels that each got.

#24 Feat/#15 회원도메인 구현
  src/docs/asciidoc/member.adoc
  src/main/java/com/aliens/backend/auth/domain/Member.java
  src/main/java/com/aliens/backend/auth/domain/repository/MemberRepository.java
  src/main/java/com/aliens/backend/auth/service/AuthService.java
  src/main/java/com/aliens/backend/email/domain/EmailAuthentication.java
  src/main/java/com/aliens/backend/email/service/EmailContent.java
  src/main/java/com/aliens/backend/email/service/EmailSender.java
  src/main/java/com/aliens/backend/email/service/EmailService.java
  src/main/java/com/aliens/backend/global/config/AWSConfig.java
  src/main/java/com/aliens/backend/global/encode/SymmetricKeyEncoder.java
  src/main/java/com/aliens/backend/global/error/CommonError.java
  src/main/java/com/aliens/backend/global/error/EmailError.java
  src/main/java/com/aliens/backend/global/error/MemberError.java
  src/main/java/com/aliens/backend/global/property/S3UploadProperties.java
  src/main/java/com/aliens/backend/global/property/SymmetricEncoderProperties.java
  src/main/java/com/aliens/backend/member/controller/MemberController.java
  src/main/java/com/aliens/backend/member/controller/dto/EncodedMember.java
  src/main/java/com/aliens/backend/member/controller/dto/EncodedMemberPage.java
  src/main/java/com/aliens/backend/member/controller/dto/EncodedSignUp.java
  src/main/java/com/aliens/backend/member/controller/dto/MemberPage.java
  src/main/java/com/aliens/backend/member/controller/dto/event/TemporaryPasswordEvent.java
  src/main/java/com/aliens/backend/member/controller/dto/request/SignUpRequest.java
  src/main/java/com/aliens/backend/member/controller/dto/request/TemporaryPasswordRequest.java
  src/main/java/com/aliens/backend/member/controller/dto/response/MemberPageResponse.java
  src/main/java/com/aliens/backend/member/controller/dto/response/MemberResponse.java
  src/main/java/com/aliens/backend/member/domain/Image.java
  src/main/java/com/aliens/backend/member/domain/MemberInfo.java
  src/main/java/com/aliens/backend/member/domain/MemberStatus.java
  src/main/java/com/aliens/backend/member/domain/repository/ImageRepository.java
  src/main/java/com/aliens/backend/member/domain/repository/MemberInfoRepository.java
  src/main/java/com/aliens/backend/member/sevice/MemberInfoService.java
  src/main/java/com/aliens/backend/uploader/AwsS3Uploader.java
  src/test/java/com/aliens/backend/auth/provider/TokenProviderTest.java
  src/test/java/com/aliens/backend/auth/service/AuthServiceTest.java
  src/test/java/com/aliens/backend/docs/MemberDocTest.java
  src/test/java/com/aliens/backend/email/sender/EmailContentTest.java
  src/test/java/com/aliens/backend/email/sender/EmailSenderTest.java
  src/test/java/com/aliens/backend/email/service/EmailServiceTest.java
  src/test/java/com/aliens/backend/encode/SymmetricKeyEncoderTest.java
  src/test/java/com/aliens/backend/member/MemberInfoServiceTest.java
  src/test/java/com/aliens/backend/uploader/AwsS3MockConfig.java
  src/test/java/com/aliens/backend/uploader/AwsS3UploaderTest.java
Labels: feat, test

#32 Chore/#31 FCM키 json 파일 환경변수 추가
  .github/workflows/friendship-pipeline.yml
Labels: chore

#26 Chore/#25 PR전, 테스트 실패 여부를 확인할 수 있도록 파이프라인 구축
  .github/workflows/test-pipeline.yml
Labels: chore

#28 Feat/#17 fcm 적용 및 테스트 코드 수정
  .gitignore
  build.gradle
  src/main/java/com/aliens/backend/auth/domain/Member.java
  src/main/java/com/aliens/backend/email/service/EmailService.java
  src/main/java/com/aliens/backend/global/config/FCMConfig.java
  src/main/java/com/aliens/backend/global/error/CommonError.java
  src/main/java/com/aliens/backend/global/property/FCMProperties.java
  src/main/java/com/aliens/backend/member/domain/Image.java
  src/main/java/com/aliens/backend/member/sevice/MemberInfoService.java
  src/main/java/com/aliens/backend/member/sevice/SymmetricKeyEncoder.java
  src/main/java/com/aliens/backend/notification/FcmSender.java
  src/main/java/com/aliens/backend/uploader/AwsS3Uploader.java
  src/main/java/com/aliens/backend/uploader/dto/S3File.java
  src/main/java/com/aliens/backend/uploader/dto/UploadFileRequest.java
  src/test/java/com/aliens/backend/auth/service/AuthServiceTest.java
  src/test/java/com/aliens/backend/email/sender/EmailSenderTest.java
  src/test/java/com/aliens/backend/email/service/EmailServiceTest.java
  src/test/java/com/aliens/backend/encode/SymmetricKeyEncoderTest.java
  src/test/java/com/aliens/backend/event/EventPublisherTest.java
  src/test/java/com/aliens/backend/global/BaseTest.java
  src/test/java/com/aliens/backend/global/DatabaseCleanup.java
  src/test/java/com/aliens/backend/member/MemberInfoServiceTest.java
  src/test/java/com/aliens/backend/uploader/AwsS3MockConfig.java
  src/test/java/com/aliens/backend/uploader/AwsS3UploaderTest.java
Labels: chore, feat, test

#34 Feat/#33 매칭 도메인 기능 개발
  src/main/java/com/aliens/backend/BackendApplication.java
  src/main/java/com/aliens/backend/auth/controller/AuthController.java
  src/main/java/com/aliens/backend/global/config/ClockConfig.java
  src/main/java/com/aliens/backend/global/error/MatchingError.java
  src/main/java/com/aliens/backend/global/property/MatchingRuleProperties.java
  src/main/java/com/aliens/backend/global/property/MatchingTimeProperties.java
  src/main/java/com/aliens/backend/global/success/AuthSuccessCode.java
  src/main/java/com/aliens/backend/global/success/MatchingSuccessCode.java
  src/main/java/com/aliens/backend/global/success/MemberSuccessCode.java
  src/main/java/com/aliens/backend/global/success/SuccessCode.java
  src/main/java/com/aliens/backend/global/success/SuccessResponse.java
  src/main/java/com/aliens/backend/global/success/SuccessResponseWithoutResult.java
  src/main/java/com/aliens/backend/mathcing/business/MatchingBusiness.java
  src/main/java/com/aliens/backend/mathcing/controller/MatchingController.java
  src/main/java/com/aliens/backend/mathcing/controller/dto/input/MatchingInput.java
  src/main/java/com/aliens/backend/mathcing/controller/dto/request/MatchingRequest.java
  src/main/java/com/aliens/backend/mathcing/controller/dto/response/MatchingResponse.java
  src/main/java/com/aliens/backend/mathcing/domain/MatchingApplication.java
  src/main/java/com/aliens/backend/mathcing/domain/MatchingResult.java
  src/main/java/com/aliens/backend/mathcing/domain/MatchingRound.java
  src/main/java/com/aliens/backend/mathcing/domain/id/MatchingApplicationId.java
  src/main/java/com/aliens/backend/mathcing/domain/id/MatchingResultId.java
  src/main/java/com/aliens/backend/mathcing/domain/repository/MatchingApplicationRepository.java
  src/main/java/com/aliens/backend/mathcing/domain/repository/MatchingResultRepository.java
  src/main/java/com/aliens/backend/mathcing/domain/repository/MatchingRoundRepository.java
  src/main/java/com/aliens/backend/mathcing/service/MatchingApplicationService.java
  src/main/java/com/aliens/backend/mathcing/service/MatchingRoundService.java
  src/main/java/com/aliens/backend/mathcing/service/MatchingService.java
  src/main/java/com/aliens/backend/mathcing/service/model/Language.java
  src/main/java/com/aliens/backend/mathcing/service/model/MatchingMode.java
  src/main/java/com/aliens/backend/mathcing/service/model/Participant.java
  src/main/java/com/aliens/backend/mathcing/service/model/Partner.java
  src/main/java/com/aliens/backend/mathcing/service/model/Relationship.java
  src/main/java/com/aliens/backend/member/controller/MemberController.java
  src/main/resources/application-matching.yml
  src/main/resources/application.yml
  src/test/java/com/aliens/backend/matching/integration/MatchingApplicationApiTest.java
  src/test/java/com/aliens/backend/matching/unit/business/MatchingApplicationGenerator.java
  src/test/java/com/aliens/backend/matching/unit/business/MatchingBusinessTest.java
  src/test/java/com/aliens/backend/matching/unit/service/MatchingApplicationServiceTest.java
  src/test/java/com/aliens/backend/matching/unit/service/MatchingRoundServiceTest.java
  src/test/java/com/aliens/backend/matching/unit/service/MatchingServiceTest.java
  src/test/java/com/aliens/backend/matching/util/MockClock.java
  src/test/java/com/aliens/backend/matching/util/MockTime.java
Labels: feat, test

#39 Feat/#36 채팅 도메인 구현
  build.gradle
  src/main/java/com/aliens/backend/chat/controller/ChatBlockController.java
  src/main/java/com/aliens/backend/chat/controller/ChatController.java
  src/main/java/com/aliens/backend/chat/controller/ChatReportController.java
  src/main/java/com/aliens/backend/chat/controller/dto/request/ChatBlockRequest.java
  src/main/java/com/aliens/backend/chat/controller/dto/request/ChatReportRequest.java
  src/main/java/com/aliens/backend/chat/controller/dto/request/MessageSendRequest.java
  src/main/java/com/aliens/backend/chat/controller/dto/request/ReadRequest.java
  src/main/java/com/aliens/backend/chat/controller/dto/response/ChatSummaryResponse.java
  src/main/java/com/aliens/backend/chat/controller/dto/response/ReadResponse.java
  src/main/java/com/aliens/backend/chat/domain/ChatBlock.java
  src/main/java/com/aliens/backend/chat/domain/ChatReport.java
  src/main/java/com/aliens/backend/chat/domain/ChatReportCategory.java
  src/main/java/com/aliens/backend/chat/domain/ChatRoom.java
  src/main/java/com/aliens/backend/chat/domain/ChatRoomStatus.java
  src/main/java/com/aliens/backend/chat/domain/Message.java
  src/main/java/com/aliens/backend/chat/domain/MessageType.java
  src/main/java/com/aliens/backend/chat/domain/repository/ChatBlockRepository.java
  src/main/java/com/aliens/backend/chat/domain/repository/ChatReportRepository.java
  src/main/java/com/aliens/backend/chat/domain/repository/ChatRoomRepository.java
  src/main/java/com/aliens/backend/chat/domain/repository/CustomMessageRepository.java
  src/main/java/com/aliens/backend/chat/domain/repository/CustomMessageRepositoryImpl.java
  src/main/java/com/aliens/backend/chat/domain/repository/MessageRepository.java
  src/main/java/com/aliens/backend/chat/service/ChatAuthValidator.java
  src/main/java/com/aliens/backend/chat/service/ChatBlockService.java
  src/main/java/com/aliens/backend/chat/service/ChatReportService.java
  src/main/java/com/aliens/backend/chat/service/ChatService.java
  src/main/java/com/aliens/backend/chat/service/model/ChatMessageSummary.java
  src/main/java/com/aliens/backend/global/config/WebSocketConfig.java
  src/main/java/com/aliens/backend/global/error/ChatError.java
  src/main/java/com/aliens/backend/global/interceptor/ChatChannelInterceptor.java
  src/main/java/com/aliens/backend/global/interceptor/ChatHandshakeInterceptor.java
  src/main/java/com/aliens/backend/global/property/WebSocketProperties.java
  src/main/java/com/aliens/backend/global/success/ChatSuccessCode.java
  src/main/java/com/aliens/backend/global/success/SuccessResponse.java
  src/main/java/com/aliens/backend/global/success/SuccessResponseWithoutResult.java
  src/main/resources/application.yml
  src/test/java/com/aliens/backend/chatting/WebSocketTest.java
  src/test/java/com/aliens/backend/chatting/service/ChatBlockServiceTest.java
  src/test/java/com/aliens/backend/chatting/service/ChatReportServiceTest.java
  src/test/java/com/aliens/backend/chatting/service/ChatServiceTest.java
  src/test/java/com/aliens/backend/chatting/util/ChatClient.java
  src/test/java/com/aliens/backend/chatting/util/ChatClientHandler.java
  src/test/java/com/aliens/backend/docs/ChatDocTest.java
Labels: chore, feat, test

#54 Chore/#53 firebase_service_key.json 구성
  .github/workflows/test-pipeline.yml
Labels: chore, fix

#55 Chore/#53 pipeline 파일 로그 출력
  .github/workflows/test-pipeline.yml
Labels: chore, fix

#57 Refactor/#45 매칭 도메인 리펙토링 및 로직 고도화 (git 충돌 해결)
  src/main/java/com/aliens/backend/block/domain/Block.java
  src/main/java/com/aliens/backend/block/domain/repository/BlockRepository.java
  src/main/java/com/aliens/backend/global/property/MatchingRuleProperties.java
  src/main/java/com/aliens/backend/global/property/MatchingTimeProperties.java
  src/main/java/com/aliens/backend/global/validator/LanguageCheck.java
  src/main/java/com/aliens/backend/mathcing/business/MatchingBusiness.java
  src/main/java/com/aliens/backend/mathcing/business/model/BlockHistoryGroup.java
  src/main/java/com/aliens/backend/mathcing/business/model/BlockedPartnerGroup.java
  src/main/java/com/aliens/backend/mathcing/business/model/CandidateGroup.java
  src/main/java/com/aliens/backend/mathcing/business/model/Language.java
  src/main/java/com/aliens/backend/mathcing/business/model/LanguageQueue.java
  src/main/java/com/aliens/backend/mathcing/business/model/MatchingMode.java
  src/main/java/com/aliens/backend/mathcing/business/model/MatchingResultGroup.java
  src/main/java/com/aliens/backend/mathcing/business/model/MatchingTypeGroup.java
  src/main/java/com/aliens/backend/mathcing/business/model/Participant.java
  src/main/java/com/aliens/backend/mathcing/business/model/ParticipantGroup.java
  src/main/java/com/aliens/backend/mathcing/business/model/Partner.java
  src/main/java/com/aliens/backend/mathcing/business/model/PreviousPartnerGroup.java
  src/main/java/com/aliens/backend/mathcing/business/model/Relationship.java
  src/main/java/com/aliens/backend/mathcing/business/type/FirstPreferLanguageType.java
  src/main/java/com/aliens/backend/mathcing/business/type/MatchingType.java
  src/main/java/com/aliens/backend/mathcing/business/type/RandomType.java
  src/main/java/com/aliens/backend/mathcing/business/type/SecondPreferLanguageType.java
  src/main/java/com/aliens/backend/mathcing/business/type/SpecialType.java
  src/main/java/com/aliens/backend/mathcing/controller/MatchingApplicationController.java
  src/main/java/com/aliens/backend/mathcing/controller/MatchingController.java
  src/main/java/com/aliens/backend/mathcing/controller/MatchingProcessController.java
  src/main/java/com/aliens/backend/mathcing/controller/dto/input/MatchingInput.java
  src/main/java/com/aliens/backend/mathcing/controller/dto/request/MatchingApplicationRequest.java
  src/main/java/com/aliens/backend/mathcing/controller/dto/request/MatchingOperateRequest.java
  src/main/java/com/aliens/backend/mathcing/controller/dto/request/MatchingRequest.java
  src/main/java/com/aliens/backend/mathcing/controller/dto/response/MatchingApplicationResponse.java
  src/main/java/com/aliens/backend/mathcing/controller/dto/response/MatchingResponse.java
  src/main/java/com/aliens/backend/mathcing/controller/dto/response/MatchingResultResponse.java
  src/main/java/com/aliens/backend/mathcing/domain/MatchingApplication.java
  src/main/java/com/aliens/backend/mathcing/domain/MatchingResult.java
  src/main/java/com/aliens/backend/mathcing/domain/MatchingRound.java
  src/main/java/com/aliens/backend/mathcing/domain/repository/MatchingRoundRepository.java
  src/main/java/com/aliens/backend/mathcing/service/MatchingApplicationService.java
  src/main/java/com/aliens/backend/mathcing/service/MatchingProcessService.java
  src/main/java/com/aliens/backend/mathcing/service/MatchingRoundService.java
  src/main/java/com/aliens/backend/mathcing/service/MatchingService.java
  src/main/java/com/aliens/backend/mathcing/service/model/Language.java
  src/main/java/com/aliens/backend/mathcing/util/validator/LanguageValidator.java
  src/test/java/com/aliens/backend/global/DummyGenerator.java
  src/test/java/com/aliens/backend/matching/business/MatchingBusinessTest.java
  src/test/java/com/aliens/backend/matching/service/MatchingRoundServiceTest.java
  src/test/java/com/aliens/backend/matching/service/MatchingServiceTest.java
  src/test/java/com/aliens/backend/matching/time/MockTime.java
  src/test/java/com/aliens/backend/matching/unit/business/MatchingBusinessTest.java
  src/test/java/com/aliens/backend/matching/unit/service/MatchingApplicationServiceTest.java
  src/test/java/com/aliens/backend/matching/unit/service/MatchingProcessServiceTest.java
  src/test/java/com/aliens/backend/matching/unit/service/MatchingRoundServiceTest.java
  src/test/java/com/aliens/backend/matching/util/time/MockClock.java
  src/test/java/com/aliens/backend/matching/util/time/MockTime.java
Labels: feat, fix, refactoring, style, test
